*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header{
	width: 100%;
	height: 80px;
	background-color: #F707C7;
	font-family:  'Baloo Tammudu', cursive;
	font-size: 25px;
	display: flex;
	justify-content: flex-end;
	align-items: center;

}

nav ul li{
	display: inline-block;
	padding: 20px;
}

main{
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-between;

}

section{
	padding: 10px;
	background-color: #06A0F8;
}

aside{
	padding: 10px;
	background-color: #B3FA09;
}

h1, h2{
	font-family:  'Baloo Tammudu', cursive;
}

footer{
	height: 80px;
	font-family:  'Baloo Tammudu', cursive;
	font-size: 20px;
	background-color: #FA8008;
	text-align: center;
	padding-top: 20px;
}